
/*Google Fons       recomendable realizar la importacion del mismo archivo .css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;

}

html{
    font-family: "Montserrat", sans-serif;
}

body{


/*
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Gupter", serif;
*/

/*
background-color: gray !important;
background-image: url("../imagenes/788.png");
*/


/*
imagen mosaico

background-image: url("https://plus.unsplash.com/premium_photo-1668024966086-bd66ba04262f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D");


background-color: teal;
background-image: url("https://plus.unsplash.com/premium_photo-1668024966086-bd66ba04262f?q=80&w=2092&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");


*/


margin: 0;
background-color: #efefef;


}



header{
    background-color: #364552;
    color: #fff;
    padding: 3rem 2rem;
}


header h1{
    font-size: 4rem;
    text-align: center;
}


section.container{
    width: 400px;
    margin: 0 auto;
}


section article{

    /*indicar la animacion*/
    transition: box-shadow 0.3s ease;


    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;

    padding: 0.25rem 0;
}


section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3); 
    cursor: pointer;

}







section article h2{
    margin: 1rem;
    text-align: center;
}

section article p{
    margin: 1rem;
    text-align: justify;    
}


footer{
    background-color: #222;
    color: #fff;
    padding: 3rem;

}


footer section {
    float: right;
}

/*eliminar margenes y alinearlos con los demas*/
footer p{
    margin: 0;
}


footer a{

    transition: color 0.3s ease;
    
    text-decoration: none;
    color: #fff;
}


footer a:hover{

    color: cornflowerblue;
}
